.card-container {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 100px;
}

.MuiCard-root {
  margin: 5px;
  transition: 1s;
}

.MuiCard-root:hover {
  position: relative;
  bottom: 5px;
}

@media only screen and (max-width: 1200px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
}

@media only screen and (max-width: 900px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
  }
}

.Card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  height: 450px;
}
